<header class="header">
  <h1 class="title text-4xl font-bold underline text-center my-6"> Bienvenido al Blog de Noticias New News</h1>
  <h3 class="slogan text-2xl font-bold italic text-center my-4">Te mantendras actualizado en todo momento</h3>
</header>
<main class="main flex">
  <section class="form w-1/3">
    <form action="">

    </form>
  </section>
  <section class="news-list w-2/3">
    <table class="list">
      <thead>
        <th class="w-2/8">Título</th>
        <th class="w-2/8">Imagen</th>
        <th class="w-3/8">Texto</th>
        <th class="w-1/8">Fecha Publicación</th>
      </thead>
      <tbody>
        <tr *ngFor="let new of listNews" class="">
          <td class="p-2 align-top">{{ new.titulo }}</td>
          <td class="p-2 align-top"><img src={{new.imagen}} alt=""></td>
          <td class="p-2 align-top" innerHTML={{new.texto}}></td>
          <td class="p-2 align-top">{{ new.fechaPubli }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
