<header class="header">
  <h1 class="title text-4xl font-bold underline text-center my-6"> Bienvenido al Blog de Noticias New News</h1>
  <h3 class="slogan text-2xl font-bold italic text-center my-4">Te mantendras actualizado en todo momento</h3>
</header>
<main class="main max-w-7xl mx-auto flex gap-10 my-20">
  <section class="form w-5/12">
    <h2 class="text-3xl font-bold mb-6 text-center">Entrada de Noticias</h2>
    <div class="form">
      <div class="vacio">
        <p class="p-5 bg-red-300 text-red-700 border-2 rounded text-center" *ngIf="vacio">Todos los campos son obligatorios</p>
      </div>
      <div class="mt-8">
        <input type="hidden" name="id" [value]="id">
        <label class="label block my-2 font-bold" for="titulo">Título de la noticia </label>
        <input class="input border-2 block w-full" type="text" name="titulo" id="titulo" [(ngModel)]="titulo">
      </div>
      <div class="mt-8">
        <label class="label block my-2 font-bold" for="autor">Autor de la noticia </label>
        <input class="input border-2 block w-full" type="text" name="autor" id="autor" [(ngModel)]="autor">
      </div>
      <div class="mt-8">
        <label class="label block my-2 font-bold" for="imagen">Nombre de la imagen </label>
        <input class="input border-2 block w-full" type="text" name="imagen" id="imagen" [(ngModel)]="imagen" placeholder="Introduzca la URL absoluta de la imagen">
      </div>
      <div class="mt-8">
        <label class="label block my-2 font-bold" for="texto">Texto de la noticia </label>
        <textarea class="input border-2 block w-full h-40" name="texto" id="texto" [(ngModel)]="texto"></textarea>
      </div>
      <div class="mt-8">
        <label class="label block my-2 font-bold" for="fechaPubli">Fecha de la noticia </label>
        <input class="input border-2 block" type="date" name="fechaPubli" id="fechaPubli" [(ngModel)]="fechaPubli">
      </div>
      <div class="mt-8">
        <button (click)="guardar()" class="btn border-2 p-2 bg-gray-300 rounded">Guardar</button>
      </div>
    </div>
  </section>
  <section class="news-list w-7/12">
    <h2 class="text-3xl font-bold mb-6 text-center">Listado de Noticias</h2>
    <ul>
      <li *ngFor="let new of listNews">
        <article class="mb-8">
          <h4 class="text-2xl text-bold italic mb-5">{{ new.titulo }}</h4>
          <p class="mb-3">{{ new.autor }} | {{ new.fechaPubli | date: 'dd/MM/yyyy' }}</p>
          <figure class="mb-5">
            <img [src]="new.imagen" [alt]="new.titulo" appNoImage>
          </figure>
          <div [innerHTML]="new.texto" class="mb-5"></div>
        </article>
      </li>
    </ul>
  </section>
</main>
